{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Esqueceu a Senha?" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5 col-lg-4"> 
        <h1 class="mb-4">{% trans "Esqueceu a Senha?" %}</h1>
        
        <div class="card shadow-sm">
            <div class="card-body">
                <p>{% trans "Informe seu endereço de e-mail abaixo, e enviaremos instruções para redefinir sua senha." %}</p>
                
                <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    
                    {# 🚨 APLICAÇÃO DO ESTILO CRISPY FORMS 🚨 #}
                    {{ form|crispy }}
                    
                    <button class="btn btn-primary d-block w-100 mt-3" type="submit">{% trans "Redefinir Senha" %}</button>
                </form>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <p class="mb-0">
                <small>{% blocktrans %}Se você tiver problemas, por favor, contate o administrador.{% endblocktrans %}</small>
            </p>
        </div>
    </div>
</div>
{% endblock %}