asgiref==3.10.0
attrs==25.4.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==5.2.7
django-allauth==65.13.0
django-oauth-toolkit==3.1.0
djangorestframework==3.16.1
dnspython==2.8.0
drf-spectacular==0.28.0
idna==3.11
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jwcrypto==1.5.6
jwt==1.4.0
oauth2_provider==0.0
oauthlib==3.3.1
pycparser==2.23
pymongo==4.15.3
PyMySQL==1.1.2
python-dotenv==1.2.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
setuptools==80.9.0
sqlparse==0.5.3
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
